html{
    width: 100%;
    height: 100%;
}
.jumbotron {

    text-align: center;
    color: white;
    background: none;
    padding-bottom: 0;
}

.card{
    border: none;
}

body {

    background-color: black;
    background-image: url(https://source.unsplash.com/featured/?travel,beach,cities);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


#newsFeed{
    align-content: center;
}

.card-img{

    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px #1d1d1d;
    font-family: Arial, Helvetica, sans-serif;
}

.card-img img{

    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

h1{

    font-size: 100px;
    -webkit-filter: drop-shadow(3px 3px 3px #222 );
    filter: drop-shadow(3px 3px 3px #222);
}

h3{

    font-size: 50px;
    -webkit-filter: drop-shadow(3px 3px 3px #222 );
    filter: drop-shadow(3px 3px 3px #222);
}

.card-body {
    
    text-align: center;
}


.search-results {

    display:none;

}


#paperPlane{
    width: 5%;
    height: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-filter: drop-shadow(5px 5px 5px #222 );
    filter: drop-shadow(5px 5px 5px #222);
}

#logo1 {
    width: auto;
    height: 35px;
    -webkit-filter: drop-shadow(5px 5px 5px #222 );
    filter: drop-shadow(5px 5px 5px #222);
}

#logo2 {
    width: auto;
    height: 125px;
    -webkit-filter: drop-shadow(5px 5px 5px #222 );
    filter: drop-shadow(5px 5px 5px #222);
}


.btn-primary {
    background-color: #000317;
    border-color: #000317;
}

.btn-primary:hover {
    background-color: #e5e6eb;
    border-color: #e5e6eb;
    color: #222;

}

.navbar {
    padding: .7rem;
    background-color: #222222;
}

.navbar-nav li {
    padding-right: 20px;
}

.nav-link {
    font-size: 1rem;
}


footer {

    padding-top: 3rem;
    padding-bottom: 3rem;

}

footer img {
    position: relative;
    left: 50%;
    top: 50%; 
    margin-left: -150px;
    margin-top: -150px;
}

#map{
    height: 100%;
    
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .mapGoogle{
      min-height: 500px;
  }
  #map-display{
      min-height: 500px;
  }